@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Port+Lligat+Slab&display=swap');

*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: rgba(250, 128, 114, 0.836);
}

main{
    margin-bottom: 25%;
}

footer{
    background-color: black;
    color: white;
    font-weight: bold;
    text-align: center;
    padding: 10px;
}
